<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>About Bjorn</h2>
			<div id="bolded-line"></div>
		</div>

	</div>
  
	<div class="two-thirds column">
		<p>I  grew up in Mankato and graduated from West High    School in 2006. Growing up I enjoyed skiing,  playing tennis, and visiting Germany  every summer. One of my most memorable moments was finding a Triceratops nose  horn on a fossil dig in Montana. </p>
    <p>I  studied at Carleton College and graduated with a degree  in Economics. While in college I was active in many clubs and activities  ranging from chess to folk singing to table tennis. Academically I focused on  math and statistics as well as economics, and spent a semester abroad in Sweden.</p>
    <p>After  graduating college I spent some time working in a distribution business in Germany  selling equestrian supplies. I decided to return to Mankato for graduate  school and received my MBA from MNSU in May. Professionally, I am interested  in learning programming so I can better help companies expand online, and  launch some businesses of my own.</p>
    </div>
	<div class="one-third column">
	  <div class="headline no-margin">
		  <h4 align="center">Bjorn Linder</h4></div>
  	<img src="images/skiing.jpg" alt="Skiing!">

	<h4>&nbsp;</h4>
  
</div>