<div class="container">
	<div class="sixteen columns">
		<div id="page-title">
      <h3>Welcome!</h3>
			<div id="bolded-line"></div>
		</div>
	</div>

	<div class="two-thirds column about">
    <p>Thanks for visiting! Hope you enjoy Fruit Wars, and feel free to explore any of the other content here, including my social media profiles in the top right. I tend to be somewhat more active on Facebook and Twitter than on here.</p>
		<p>I grew up in Mankato, MN and graduated from West High School in 2006. Growing up I enjoyed skiing, playing tennis, and visiting Germany every summer. I once found a Triceratops nose horn on a fossil dig in Montana.</p>
    <p>I studied at Carleton College and graduated with a degree in Economics. I was active in many clubs and activities ranging from chess to folk singing to table tennis. Academically I focused on math and statistics with a major in economics, and even learnt some Swedish.</p>
    <p>I returned to Mankato for graduate school and received my MBA from MNSU in May 2013. I started working in web design and decided to learn programming would be a cool skillset to have. I moved to Boston the next winter and learned coding at Launch Academy. I've since moved back to Minnesota.</p>
    <h4><a href='http://www.eventmy.com'>EventMy</a></h4>
    <p> is a personalized events aggregation calendar. EventMy takes events from different sources (e.g. Facebook, EventBrite) and pools them together for users to discover, track, and share with others. My vision for EventMy is to provide the best event discovery experience possible. If you're interested in getting involved, I'd love to hear from you!</p>
  </div>
	<div class="one-third column">
    <a class="twitter-timeline" href="https://twitter.com/bjornishungry" data-widget-id="455140712338567168">Tweets by @bjornishungry</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</div>