<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>Blog <span>/ Life, the Universe and Everything</span></h2>
			<div id="bolded-line"></div>
		</div>

	</div>

  <div class="container">	
    <div class="twelve columns">

    	<div class="post">
    		<div class="post-img picture"><a href="/blog/eventmy-startupdope.html" rel="image" title="Festival"><img src="http://startupdope.com/wp-content/uploads/2014/12/Food-Festival-2013.jpg" alt="Festival" height="100" style="width:70%;" /></a></div>
    		<a href="http://startupdope.com/eventmyplatformsharediscoverevents/" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/eventmy-startupdope.html">EventMy: Your Platform to Share and Discover Events</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Dec 23, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Rijvi Raj</a></span></div>
    		<div class="post-description">
    <p>We live in beautiful cities that are bursting with culture, celebrations and activities. There is something exciting happening practically every day. From theater to festivals, there are things for everyone to enjoy. However, unfortunately most of the times we miss out on great events, activities and gigs in the city just because we were unaware of it.</p>
<p>Luckily, to address this very same problem, there is a new web app in town called EventMy. It is a personalized events aggregation calendar. In other words, EventMy takes events from different sources and pools them together for users to discover, track, and share with others. This app is a free platform for you to share and discover events near you based on your interests.</p></div>
    		<a class="post-entry" href="/blog/eventmy-startupdope.html">Continue Reading</a>
    		</div>
    	</div>

    	<div class="post">
    		<div class="post-img picture"><a href="images/tomato-sauce-meal.jpg" rel="image" title="Tomato Sauce"><img src="images/tomato-sauce-meal.jpg" alt="Tomato Sauce" height="100" width="100" style="width:400px;" /></a></div>
    		<a href="/blog/manly-tomato-sauce.html" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/manly-tomato-sauce.html">Manly Tomato Sauce</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On June 15, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <h4>Happy Father's Day!</h4>
    <p>Healthy enough to cure most common ailments with one serving and composed entirely of ingredients my father is exuberant over, this tomato sauce is for men. In fact, the final taste is so overpowering that anyone else who tries the sauce will undoubtably grimace and immediately reach for the nearest bottle of vodka or Ouzo to chase it with. Ouzo is the recommended drink to accompany your meal; hopefully you will have some on hand. </p></div>
    		<a class="post-entry" href="/blog/manly-tomato-sauce.html">Continue Reading</a>
    		</div>
    	</div>

    	<div class="post">
    		<a href="/blog/game-development.html" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/game-development.html">Game Development</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Apr 14, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <br><br>
    <p>	When I was about 5 ? years old I designed a board game. I don't think it was actually finished to the point of being playable, but the game had various cards and a game board that the players would move across. Naturally the materials were basic, but I understood back then that you had to start somewhere and progress one piece at a time. The same concept holds for making video games: features and mechanics are added one part at a time.
    </p></div>
    		<a class="post-entry" href="/blog/game-development.html">Continue Reading</a>
    		</div>
    	</div>		
      
    	<div class="post">
    		<a href="/blog/introducing-fruit-wars-and-comments.html" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/introducing-fruit-wars-and-comments.html">Introducing Comments & Fruit Wars</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Mar 28, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <br><br>
    <p>	On to the fun stuff: I made a game! It's free, open source, cartoony, and has some annoying sound effects. Supported browsers include Chrome and Firefox. You can play the game at http://fruit-wars.herokuapp.com/ and view the source code at https://github.com/bjornlinder/Fruit-Wars-Game. I am interested in doing some more game development in the future, and making Fruit Wars has been a fun first step. My future plans for the game focus on adding more strategy, eventually making the game play more like a true tower defense game. To do so, I will need to level up my Javascript more first. For the rest of the program however I'll be focusing on my other Breakable Toy.
    </p></div>
    		<a class="post-entry" href="/blog/introducing-fruit-wars-and-comments.html">Continue Reading</a>
    		</div>
    	</div>		
	
    	<div class="post">
    		<a href="/blog/test-driven-development.html" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/test-driven-development.html">Test Driven Development</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Mar 9, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <br><br>
    <p>	Through another week of coding. Doesn't make any difference however, seeing as I'm still at it on the weekend. I've started work on two of my breakable toys - that is, building the foundation for the design. The other projects I've decided to put on the shelf whilst in Launch. Afterall, the two breakable toys I'll be building, I could spend an endless amount of time adding features for either of them. I will also be giving a talk on SEO tomorrow, and should probably spend some more time today preparing for that.

    On to the more technical stuff...</p></div>
    		<a class="post-entry" href="/blog/test-driven-development.html">Continue Reading</a>
    		</div>
    	</div>	
	
    	<div class="post">
    		<a href="#" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/project-updates.html">Programming Updates - Sinatra & Other Projects</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Mar 3, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <br><br>
    <p>	I've just finished moving my personal website from beckerstoneart.com/bjornlinder to http://bjorn-linder.herokuapp.com. This change is due to the fact that this website, while using the same html and css code, is now dynamically generated content using Ruby on Sinatra. Adding new blog posts will soon require only saving and uploading text files which are automatically parsed into html.</p></div>
    		<a class="post-entry" href="/blog/project-updates.html">Continue Reading</a>
    		</div>
    	</div>

    	<div class="post">
    		<div class="post-img picture"><a href="images/sudo-sandwich.png" rel="image" title="Sudo-Samich"><img src="images/sudo-sandwich.png" alt="" /></a></div>
    		<a href="launch-academy-week-1.html" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/launch-academy-week-1.html">Launch Academy : Week 1</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Feb 22, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <br><br>
    <p>We have survived the first week. The other students seem to accept me as one of their own. Sometimes I even work on coding problems with the others. It is a new environment for everyone, and the tons of work we&#39;re given is sufficient to divert everyone&#39;s attention. Most likely my mustache helps to serve as a distraction - I don&#39;t think anyone suspects my true intention is to devour their souls. Soon it will be inevitable.</p></div>
    		<a class="post-entry" href="/blog/launch-academy-week-1.html">Continue Reading</a>
    		</div>
    	</div>
	
    	<div class="post">
    		<a href="#" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/pre-work.html">Launch Academy: Reflection on Pre-Work</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Feb 16, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <strong>Life in Boston</strong>
    <br><br>
    <p>The last several weeks I&#39;ve been in Boston has been a great time. Life has been vastly different for me for many reasons: most notably living in the big city, and living with roommates. Being able to easily get from one part of the city to another is fantastic and something that I appreciate after having spent time in suburbs of Minneapolis. I feel living at Krash (url) is the best living experience I&#39;ve ever had. While the perks are great, in the long run the most important part of living here are the opportunities to make new friends and connections.</p></div>
    		<a class="post-entry" href="/blog/pre-work.html">Continue Reading</a>
    		</div>
    	</div>
	
    	<div class="post">
    		<div class="post-img picture"><a href="images/comic.gif" rel="image" title="Comic"><img src="images/comic.gif" alt="" /><div class="image-overlay-zoom"></div></a></div>
    		<a href="#" class="post-icon standard"></a>
    		<div class="post-content">
    			<div class="post-title"><h2><a href="/blog/first-post.html">First Blog Posting</a></h2></div>
    			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Jan 1, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
    		<div class="post-description">
    <p>Happy 2014! I am sorry it&#39;s taken so long to share this with you; most of this post was actually written a year ago. Quite a bit has changed since then, though my thoughts on life and keeping a blog have not.</p>  
    <p>Why write a blog? I am committing my time to an endeavor which has no direct benefit. I don’t expect to get paid for writing this, nor do I expect a terribly large number of people to see it. However I am a rational person; I wouldn’t engage myself in this if I felt the benefit wasn’t worth the cost (time commitment). I feel I am an economist and statistician at heart; I often like to think of things in terms of economics. If the marginal utility outweighs the marginal cost, the project is a good investment.</p></div>
    		<a class="post-entry" href="/blog/first-post.html">Continue Reading</a>
    		</div>
    	</div>

    </div>
    <div class = "four columns">
<a class="twitter-timeline" href="https://twitter.com/bjornishungry" data-widget-id="455140712338567168">Tweets by @bjornishungry</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



    </div>
  </div>
</div>

