<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>Blog <span>/ Life, the Universe and Everything</span></h2>
			<div id="bolded-line"></div>
		</div>

	</div>
</div>

<div class="container">	
<div class="twelve columns">
	
	<div class="post">
		<div class="post-img picture"><a href="images/sudo-sandwich.png" rel="image" title="Sudo-Samich"><img src="images/sudo-sandwich.png" alt="" /></a></div>
		<a href="launch-academy-week-1.html" class="post-icon standard"></a>
		<div class="post-content">
			<div class="post-title"><h2><a href="/blog/launch-academy-week-1.html">Launch Academy : Week 1</a></h2></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Feb 22, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
		<div class="post-description">
<strong>Life in Boston</strong>
<br><br>
<p>We have survived the first week. The other students seem to accept me as one of their own. Sometimes I even work on coding problems with the others. It is a new environment for everyone, and the tons of work we&#39;re given is sufficient to divert everyone&#39;s attention. Most likely my mustache helps to serve as a distraction - I don&#39;t think anyone suspects my true intention is to devour their souls. Soon it will be inevitable.</p></div>
		<a class="post-entry" href="/blog/launch-academy-week-1.html">Continue Reading</a>
		</div>
	</div>
	
	<div class="post">
		<a href="#" class="post-icon standard"></a>
		<div class="post-content">
			<div class="post-title"><h2><a href="/blog/pre-work.html">First Blog Posting</a></h2></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Feb 16, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
		<div class="post-description">
<strong>Life in Boston</strong>
<br><br>
<p>The last several weeks I&#39;ve been in Boston has been a great time. Life has been vastly different for me for many reasons: most notably living in the big city, and living with roommates. Being able to easily get from one part of the city to another is fantastic and something that I appreciate after having spent time in suburbs of Minneapolis. I feel living at Krash (url) is the best living experience I&#39;ve ever had. While the perks are great, in the long run the most important part of living here are the opportunities to make new friends and connections.</p></div>
		<a class="post-entry" href="/blog/pre-work.html">Continue Reading</a>
		</div>
	</div>
	
	<div class="post">
		<div class="post-img picture"><a href="images/comic.gif" rel="image" title="Comic"><img src="images/comic.gif" alt="" /><div class="image-overlay-zoom"></div></a></div>
		<a href="#" class="post-icon standard"></a>
		<div class="post-content">
			<div class="post-title"><h2><a href="/blog/first-post.html">First Blog Posting</a></h2></div>
			<div class="post-meta"><span><i class="mini-ico-calendar"></i>On Jan 1, 2014</span> <span><i class="mini-ico-user"></i>By <a href="#">Bjorn</a></span></div>
		<div class="post-description">
<p>Happy 2014! I am sorry it&#39;s taken so long to share this with you; most of this post was actually written a year ago. Quite a bit has changed since then, though my thoughts on life and keeping a blog have not.</p>  
<p>Why write a blog? I am committing my time to an endeavor which has no direct benefit. I don’t expect to get paid for writing this, nor do I expect a terribly large number of people to see it. However I am a rational person; I wouldn’t engage myself in this if I felt the benefit wasn’t worth the cost (time commitment). I feel I am an economist and statistician at heart; I often like to think of things in terms of economics. If the marginal utility outweighs the marginal cost, the project is a good investment.</p></div>
		<a class="post-entry" href="/blog/first-post.html">Continue Reading</a>
		</div>
	</div>

</div>
</div>

