<div class="container">
  <div class="three columns">
    <br>
		<div class="picture"><img alt="" src="images/bjorn.jpg"></img><br></div>
	</div>
  <div class="twelve columns">
    <h3>Welcome!</h3>
      <p>
        Time is the most precious commodity we have. I've come to realize that for me to make the best use of my time, I should be coding. Technology plays a huge role in our lives and I see many ways to improve on the ways we use technology to interact with each other.</p>
      <p>I am the founder of EventMy, a personalized events aggregation calendar. In other words, EventMy takes events from different sources and pools them together for users to discover, track, and share with others. My vision for EventMy is to provide the best event discovery experience possible.
      </p>
<br>
      <h5>Other concepts I think would be fun to build out as mobile or web apps:</h5>
      <li>A multiplayer HTML5 strategy game</li>
      <li>A mobile game with user generated content</li>
      <li>Crowdsourcing media recommendations for online music, video, and games</li>
      <li>Dating application</li>
      <li>Personal wiki for note-taking</li>
  </div>    
</div>