<div class="container">
  <div class="three columns">
    <br>
		<div class="picture"><img alt="" src="images/bjorn.jpg"></img><br></div>
	</div>
  <div class="twelve columns">
    <h3>Welcome!</h3>
      <p>
        Time is the most precious commodity we have. I've come to realize that for me to make the best use of my time, I should learn to code. Technology plays a huge role in our lives and I see many ways to improve on the ways we use technology to interact with each other. I am working on developing new applications that prioritize the user experience.</p>

      <h5>Current projects include:</h5>
      <li>Helyum: simplifying the way we buy and sell things online</li>
      <li>Making an awesome HTML5 game using Node.js, Socket.io, and Crafty.js.</li>
      <li>Developing an application to help people find, promote, and keep track of events.</li><br>
      <h5>Potential future projects:</h5>
      <li>More games</li>
      <li>Dating application</li>
      <li>Playlist software</li>
      <li>Personal wiki for note-taking</li>
  </div>    
</div>