<div class="container">
  <div class="three columns">
    <br>
		<div class="picture"><img alt="" src="images/bjorn.jpg"></img><br></div>
	</div>
  <div class="twelve columns">
    <h3>Welcome!</h3>
      <p>
        Time is the most precious commodity we have. I've come to realize that for me to make the best use of my time, I should be coding. Technology plays a huge role in our lives and I see many ways to improve on the ways we use technology to interact with each other. Currently I am working on EventMy, a social calendar application to help you discover, track, and share events. I am looking to help and work with other entrepreneurs and developers on startup design, development, marketing, and business strategy.
      </p>

<br>
      <h5>Some potential future projects:</h5>
      <li>A multiplayer HTML5 strategy game</li>
      <li>A mobile game with user generated content</li>
      <li>Crowdsourcing media recommendations for online music, video, and games</li>
      <li>Dating application</li>
      <li>Personal wiki for note-taking</li>
  </div>    
</div>