<div class="container">

	<div class="sixteen columns">

		<div id="page-title">
			<h2>Welcome!</h2>
			<div id="bolded-line"></div>
		</div>

	</div>
</div>

<div class="container">
        <div class="twelve columns"><p>
Glad you made it to my site! Allow me first to explain why the site is called 'Bjorn's Atelier'. Atelier is a French term meaning workshop, and that's how I see this site. Here I share different projects I've been working on with the public, and not just other developers. Feel free to take a look around, and keep an eye on the blog for new developments.</p>
<p>
I have always been interested in strategy. Growing up I played chess; now I like to apply strategic thinking to the world of business. This was part of the rationale behind my deciding to pursue an MBA. In early 2014 I entered the world of programming and web development. I hope to use these skills to help businesses expand their scope, reach customers more effectively, and operate more efficiently.
		</p></div>
        
        <div class="four columns">
		<div class="picture"><img alt="" src="images/bjorn.jpg"></img><br></div>

	</div>
</div>
<!-- 960 Container -->
<div class="container">

<div class="twelve columns">
	<div class="headline no-margin"><h4>How can I help your business?</h4></div>
		
	<div class="six columns">
			<p>Online, I have experience in website design and back end web development. I also have experience with online marketing strategy, including familiarity with search engine optimization, managing social media, and paid online advertising.</p>
		</div>
	<div class="five columns">
			<p>Offline, my approach to business is very analytical. I am a numbers guy and good at seeing the big picture. With the right approach and a little creativity, data will talk.</p>
		</div>
	</div>
	
	<div class="four columns">
		<div class="headline no-margin"><h4>Skills</h4></div>
		<ul class="check_list">
			<li>Ruby on Rails Web Development</li>
			<li>Front End Web Design</li>
			<li>Javascript + JQuery</li>
			<li>Business Plans</li>
			<li>Data Analysis</li>
			<li>Online Marketing Strategy</li>
		</ul>
	</div>
	
	<div class="sixteen columns">
		<div class="headline low-margin"><h4>Business Principles</h4></div>
	</div>

	<div class="icon-boxes-container">
		<div class="eight columns">
			<div class="icon-box">
				<i class="ico-stats" style="margin-left: -12px;"></i>
				<h3>Long-term Thinking</h3>
				<p>Given a business's current position in the market, what is needed for that business to maintain a competitive advantage and grow as economic conditions and consumer trends change? Which systems that we create now are still going to be viable 5, 10, 20 years down the road?</p>
			</div>
		</div>
			
		<div class="eight columns">
			<div class="icon-box">
				<i class="ico-thumbs-up"></i>
				<h3>Friendly and Professional</h3>
				<p>Anyone is a potential client or future business associate. Therefore I strive to maintain a positive and professional attitude always - in public, private, and on social media.</p>
			</div>
		</div>
	</div>
	
	<div class="icon-boxes-container">
	
		<div class="eight columns">
			<div class="icon-box">
				<i class="ico-lightbulb" style="margin-left: -10px;"></i>
				<h3>Learn From the Competition</h3>
				<p>As a business it's helpful to look at the market from the perspective of a customer. Why choose the services of one business over another? Important factors include presentation, customer service, price, and clarity. Pay attention to what the competition does that works, and what doesn't work.</p>
			</div>
		</div>
			
		<div class="eight columns">
			<div class="icon-box">
				<i class="ico-playing-dices"></i>
				<h3>Don't be Afraid of Taking Risks</h3>
				<p>To succeed we often have to try out many things. Some work, some don't. The more things we try the more things we find that work. When we do something that doesn't work out we need to learn from our mistakes and move on, keeping losses to a minimum.</p>
			</div>
		</div>

	</div>	
	
</div>

<div class="container">
	<div class="sixteen columns">
		<div class="headline no-margin">
		  <h3>Recent Projects</h3></div>
	</div>
    
    <div class="four columns">
		<div class="picture"><a href="http://www.mankatomosaic.com/"><img src="images/ss-images/mosaic-image.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Mankato Mosaic</a></h5>
			<p>Website created using the Joomla content management system.</p>
		</div>
	</div>
    
    <div class="four columns">
		<div class="picture"><a href="http://www.culbacproducts.com/"><img src="images/ss-images/culbac-image.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">Culbac Products</a></h5>
			<p>Created the website using a stand-alone shopping cart.</p>
		</div>
	</div>
    
    <div class="four columns">
		<div class="picture"><a href="#"><img src="images/ss-images/personal-image.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5><a href="#">This Site</a></h5>
			<p>More pages coming soon. Feel free to explorer the site!.</p>
		</div>
	</div>
    
	<div class="four columns">
		<div class="picture"><a href="http://www.beckerstoneart.com"><img src="images/ss-images/bsa-image.jpg" alt=""/><div class="image-overlay-link"></div></a></div>
		<div class="item-description">
			<h5>Becker Stone Art</h5>
			<p>Separate homepage &amp; shopping cart. </p>
		</div>
	</div>
    
</div>
