<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

<meta charset="utf-8">
<title>Bjorn's Atelier</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/boxed.css" id="layout">
<link rel="stylesheet" type="text/css" href="/css/cyan.css" id="colors">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/selectnav.js"></script>
<script src="js/twitter.js"></script>
<script src="js/effects.js"></script>
<script src="js/fancybox.js"></script>
<script src="js/isotope.js"></script>

</head>

<body>
<div id="wrapper">
<div class="container ie-dropdown-fix">
	<div id="header">
		<div class="eight columns">
			<div id="logo">
				<a href="/index"><h2>Bjorn's Atelier</h2></a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="eight columns">
		  <ul class="social-icons">
				<li class="facebook"><a href="https://www.facebook.com/bjornishungry">Facebook</a></li>
				<li class="twitter"><a href="https://www.twitter.com/bjornishungry">Twitter</a></li>
				<li class="twitter"><a href="https://www.twitter.com/mankatohub">Twitter - Mankato Hub</a></li>
			</ul>
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-envelope"></i><a href="#">bjornishungry@hotmail.com</a></li>
				</ul>
		  </div>
		</div>
	</div>
	<!--Header / End 
		Navigation -->
	<div class="sixteen columns">
		<div id="navigation">
			<ul id="nav">
				<li><a href="/index">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/treasure-hunter">Treasure Hunter</a></li>
			</ul>
		</div> 
		<div class="clear"></div>
	</div>
</div>

<%=yield%>

</div>

<div id="footer">
	<div class="container">
		<div class="sixteen columns">
			<div id="footer-bottom">
				© Copyright 2014 by Bjorn Linder. All rights reserved.
			</div>
		</div>
	</div>
</div>

</body>
</html>