<style>	
	
	#game-grid {
	height:450px;
	width:450px;
	border:5px #000000;
	float:left;
	}
	.game-row {
	height: 100px;
	width: 100px;
	background-color: #7F9A65;
	border: 5px solid #000000;
	display: inline-block;
	float: left;
	}
	.game-player {
	background-image:url('prospector.jpg');
	height: 100px;
	width: 100px;
	border: 5px solid #000000;
	display: inline-block;
	float: left;
	}

  h4 {
    margin-top:30px;
  }
  /*
	file://localhost/Users/brucehlinder/Google%20Drive/Personal%20Site%20&%20Profile/bjornlinder/themeforest-2831437-centum-responsive-html-template/HTML/shortcodes.html
	icons to use for buttons:
	#button {
		ico-circle-arrow-top
		ico-circle-arrow-right
		ico-circle-arrow-left
		ico-
		ico-spade
		
	}*/
</style>

<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>Treasure Hunter <span>/ A Game with no Winning, Losing, or Purpose</span></h2>
			<div id="bolded-line"></div>
		</div>

	</div>
</div>

<div class="container">	
	<div class="sixteen columns">
		<div class="eight columns">
			<div id="game-grid">
	
			<% for i in (0..@game.width-1) do i %>
        <%= "<div class = \"game-column #{i}\">" %>
  				<% for k in (0..@game.length-1) do k %>
						<%= "<div class=\"game-row #{k}\"><img /></div>" %>
  				<% end %>
          </div>
  			<% end %>
			</div>
		</div>
		<div class="seven columns">
			<div id="user-interaction">

				<button id = "north">North</button>
  			<button id = "south">South</button>
  			<button id = "west">West</button>
  			<button id = "east">East</button>
    		<button id = "dig">Dig</button>
					
			</div>
      <h4>Result: <div id ='current-treasure'></div></h4>
      <div id='treasure'>
        <h4>Treasure collected:</h4>

      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
			<script src="js/treasurehunter.js"></script>
		</div>
	</div>
</div>
