<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>Treasure Hunter <span>/ A Game with no Winning, Losing, or Purpose</span></h2>
			<div id="bolded-line"></div>
		</div>

	</div>
</div>

<div class="container">	
<div class="twelve columns">
	
	<div class="post">
		
		<script type="css">	
		#game-grid {
		height: 150px;
		width: 150px;
		background-color: #40D47E;
		border: 10px solid #27AE60;
		display: inline-block;
		float: left;
		}
		.game-grid {
		height: 150px;
		width: 150px;
		background-color: #40D47E;
		border: 10px solid #27AE60;
		display: inline-block;
		float: left;
		}
		</script>


		<%=game = Game.new%>

			<div id="game-grid">
			</div>
			<code>$('#game-grid')</code>
		Input goes here

	</div>

</div>
</div>
