<style>	
	
	#game-grid {
	height:450px;
	width:450px;
	border:5px #000000;
	float:left;
	}
	.game-row {
	height: 100px;
	width: 100px;
	background-color: #7F9A65;
	border: 5px solid #000000;
	display: inline-block;
	float: left;
	}
	.game-player {
	background-image:url('prospector.jpg');
	height: 100px;
	width: 100px;
	border: 5px solid #000000;
	display: inline-block;
	float: left;
	}
  h4 {
    margin-top:20px;
  }
  button {
    margin-left:20px;
    margin-right:20px;
    margin-top:15px;
    margin-bottom:10px;
  }
  .solo {
    margin-left:107px;
  }

</style>

<div class="container">
	<div class="sixteen columns">
	
		<div id="page-title">
			<h2>Treasure Hunter <span>/ A Game with no Winning, Losing, or Purpose</span></h2>
			<div id="bolded-line"></div>
		</div>

	</div>
</div>

<div class="container">	
	<div class="sixteen columns">
		<div class="eight columns">
			<div id="game-grid">
	
			<% for i in (0..3) do i %>
        <%= "<div class = \"game-column #{i}\">" %>
  				<% for k in (0..3) do k %>
						<%= "<div class=\"game-row #{k}\"><img /></div>" %>
  				<% end %>
          </div>
  			<% end %>
			</div>
		</div>
		<div class="seven columns">
			<div id="user-interaction">

				<div class='solo'><button id = "north"><i class="ico-circle-arrow-top"></i></button></div>
				<button id = "west"><i class="ico-circle-arrow-left"></i></button>
  			<button id = "dig"><i class="ico-spade"></i></button>
				<button id = "east"><i class="ico-circle-arrow-right"></i></button>
				<div class='solo'><button id = "south"><i class="ico-circle-arrow-down"></i></button></div>
					
			</div>
      <h4>Result: <div id ='current-treasure'></div></h4>
      <div id='treasure'>
        <h4>Treasure collected:</h4>
      </div>
			<script src="js/treasurehunter.js"></script>
		</div>
	</div>
</div>
